* {
    margin: 0;
    padding: 0;
}

table {
    margin: 50px auto;
    background-color: #4e4d4d;
    padding: 25px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #808080;
}

td {
    text-align: center;
}


#display {
    width: 93%;
    height: 60px;
    padding: 2px;
    font-size: 22px;
    border-radius: 5px;
    text-align: right;
    background-color: #e1e0e0;
}

.button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#equal {
    background-color: #ef9e06;
    color: #ffffff;
}